canvas {
    border: 1px solid #d3d3d3;
    background-color: #7f2a9b4f;;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: nowrap;
    height: 100%;
    background-color: #b1b1b1b3
}
.console {
    display: flex;
    flex-flow: column;
    width: 76%;
}
.posicionaControlePreto {
    display: flex;
    width: 16%;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 32.562%;
    bottom: 20%;
    border: 7px solid black;
    height: 172px;
    right: 0%;
}
.posicionaControleCinza {
    display: flex;
    width: 16%;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    height: 191px;
    right: 0%;
    bottom: 67.5%;
    border: 7px solid grey;
}
.posicionaInformaçõesVerde {
    display: flex;
    width: 16%;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    height: 290px;
    right: 0%;
    top: 52.7%;
    border: 7px solid green;
}
.Texto {
    text-align: center;
}
#idCanvas{
    position: absolute;
    left: 2%;
    top: 11%;
}
.posicionador {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -1.9%;
}
body > div > div > div > button:nth-child(2) {
    width: 86.5px;
}
.direitaEsquerda {
    width: 100%;
}
.direitaEsquerda > button:nth-child(1){
    width: 49%;
}
.direitaEsquerda > button:nth-child(2){
    width: 49%;
}
/* canvas::before { 
    content: "";
    background-color: blue;
    width: 1px;
    height: 1px;
    position: absolute;
  } */